<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

<script>
    angular.module("MyApp", [])
        .controller("MyController", function($scope) {
            // Flags to control visibility of parts.
            $scope.show_form = true;
            $scope.show_table = false; 

            // Array to hold submitted form data.
            $scope.entries = [];

            $scope.submit = function () {
                $scope.entries.push({
                    "timestamp" : Date(Date.now()).toString(),
                    "name" : $scope.name,
                    "email" : $scope.email
                });

                $scope.show_form = false;
                $scope.show_table = true;
            };

            $scope.returnToForm = function () {
                $scope.name = '';
                $scope.email = '';

                $scope.show_form = true;
                $scope.show_table = false;
            };

            $scope.showCollectedEmails = function () {
                if ($scope.entries.length > 0) {
                    $scope.show_table = true;
                }
            };
        } );
</script>
 
<body ng-app="MyApp">

    <div ng-controller="MyController">
        <h3>Enter Email!</h3>
        <form name="myForm" ng-submit="submit()" ng-show="show_form">
            Name: <input type="text" name="name" ng-model="name" required />
            <span class="error" ng-show="myForm.name.$error.required">
                Required!
            </span>
            <br>

            Email: <input type="email" name="email" ng-model="email" required />
            <span class="error" ng-show="myForm.email.$error.required">
                Required!
            </span>
            <span class="error" ng-show="myForm.email.$error.email">
                This needs to be a valid email address!
            </span>
            <br>

            <input type=submit id="submit" value="Submit"/>
            <input type=button ng-click="showCollectedEmails()" value="Show Collected Emails"/>
        </form>
        <div ng-show="show_table">
            <table>
                <tr>
                    <th>Timestamp</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <tr ng-repeat="entry in entries">
                    <td>{{entry.timestamp}}</td>
                    <td>{{entry.name}}</td>
                    <td>{{email}}</td>
                </tr>
            </table>
            <br>
            <br>

            <input type="button" ng-click="returnToForm()" value="Return To Entry Form"/>
        </div>
   </div><br>
</body>
</html>
